.iconos-nosotros{
    padding: 0 2rem;
}


@include tablet{
    .iconos-nosotros{
        padding: 0 10rem;
        @include grid(3, 5rem);
    }
}

.icono{

    text-align: justify;


    img{
        height: 10rem;
    }

    h3{
        text-transform: uppercase;
    }
}